@{
    ViewData["Title"] = "Sign In";
}
<br>

<div class="row">
    <div class="col-sm-8">
        <partial name="_Register.cshtml" />
    </div>
    <div class="col-sm-4">
        <partial name="_Login.cshtml" />
    </div>
</div>